
@media (min-width: 80em) {
    .controller-pages, .controller-events, .controller-search, .controller-groups {
        grid-template-columns:  1fr 4fr;
    }

  }


main {
    display: grid;
    grid-template-areas:
    "new-post trending"
    "posts suggested-community"
    "posts friends";
}

.navbar {
    grid-area: navbar;
    width: 100%;
}
