.navbars {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: black;
    gap: 20px;
    background-color: white;
    border-right: 1px solid lightgray;
    grid-area: sidebar;
    height: 100%;
  }

  .nav-links {
    width: 100%;
  }

  .nav-links a {
    color: rgba(0, 0, 0, 0.233);
    text-decoration: none;
    margin: 0;
  }

  .nav-links a:hover {
    color: var(--clr-primary-400);

  }

  svg {
    fill: var(--clr-primary-400);
  }

  .nav-links {
    align-self: flex-start;
  }

  /* LOGO */

 svg {
    width: 2rem;
    height: 2rem;
 }

 img {
  width: 75%;
 }

  li img {
    height: 1rem;
  }

  /* NAVBAR MENU */
  .menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 24px;
    width: 100%;

  }

  .menu li:hover {
    background-color: var(--clr-neutral-100);
    border-radius: 5px;
    transition: 0.3s ease;
    color: var(--clr-primary-400);
  }

  .menu li {
    padding: 5px 14px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }


  /* DROPDOWN MENU */
  .services {
    position: relative;
  }

  .dropdowns {
    background-color: var(--clr-primary-400);
    padding: 1em;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    right: 35px;
    font-size: 1rem;
    border: 1px solid lightgray;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  }

  .dropdowns li + li {
    margin-top: 10px;
  }

  .dropdowns li {
    padding: 0.5em;
    width: 100%;
    text-align: center;
    color: white;
  }

  .dropdowns a {
    color: white;
  }

  .services:hover .dropdowns {
    display: block;
  }

  input[type=checkbox] {
    display: none;
  }

  .groups {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .group-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: var(--fs-600);
  }

  .search {
    display: flex;
    align-items: center; /* Vertically center the elements */
    width: 100%;
  }

  .search form {
    padding: 0;
    width: 100%;
  }

  .search-input {
    flex: 1; /* The input field will take up all remaining space */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;
    grid-area: s-input;
    margin: 0%;
    padding: 0 5px;
    border: none;
    height: 100%;
  }

  .search-button {
    color: var(--clr-primary-400);
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    grid-area: s-button;
    margin: 0%;
    padding: 0%;
    border: none;
    height: 100%;
    width: 1rem;
    display: flex;
    justify-content: center;
  }

  .submit-button:hover {
    background-color: #0056b3;
  }

  .searcy {
    display: flex;
    justify-content: space-around;
    border: 1px solid lightgray;
    height: 100%;
    padding: 5px;
    border-radius: .5rem;
  }

  .search-button svg {
    height: 100%;
    border: none;
  }

  .nav-profile-pic {
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
  }

  .profile-pic {
    display: flex;
  }

  .navbars ul {
    padding: 0%;
  }
